<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="{% url 'polls:index' %}">home</a>
    
<!-- polls/poll_detail.html -->










<!-- polls/detail.html -->



{% block content %}
  <h1>{{ question.question_title }}</h1>
  <p>{{ question.question_description }}</p>

  {% if choice_form %}
    <form method="post" action="{% url 'polls:detail' question.slug %}">
      {% csrf_token %}
      {{ choice_form.as_p }}
      <button type="submit">Add Choice</button>
    </form>
  {% endif %}

  {% if question.choice_set.all %}
    <h2>Choices:</h2>
    <ul>
      {% for choice in question.choice_set.all %}
        <li>
          {{ choice.choice_text }}
          <span>Upvotes: {{ choice.votes }}</span>
          <form method="post" action="{% url 'polls:detail' question.slug %}">
            {% csrf_token %}
            <input type="hidden" name="choice_id" value="{{ choice.id }}">
            <button type="submit" name="upvote">Upvote</button>
            <button type="submit" name="downvote">Downvote</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}






{% for message in messages %}
  <p>{{ message }}</p>
{% endfor %}


<p>want to join the poll?</p>
<a href="{% url 'polls:questionPost' %}">
  post a question 
</a>


</body>
</html>